out
.settings
bin/
build/
jar/*
conf/*
.classpath
.project
target/
.DS_Store
*log.txt
*keys.yml
.gradle
*.iml
*.ipr
*.iws
gensrc/
/.nb-gradle/
.idea*
dataSources/

.ipynb_checkpoints
.vscode
JavaSnip.ipynb
*.factorypath
storage
.shelf/

# documentation bundle
documentation/bundle/
