out
.settings
bin/
build/
jar/*
conf/*
.classpath
.project
target/
pom.xml.versionsBackup
.DS_Store
*log.txt
*keys.yml
.gradle
*.iml
*.ipr
*.iws
gensrc/
/.nb-gradle/
.idea*

# Ignore all logfiles since the docker-compose setup
# mounts this repo for r/w and java dumps logs here
*.log

.ipynb_checkpoints
.vscode
JavaSnip.ipynb
*.factorypath
storage
